<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Url Shorting</title>
</head>
<body>

 <b>Projenin github linki:</b>https://github.com/seymadogru/UrlShortener.git
 <br>
 <br>
 Lütfen Postman'de şu şekilde requestler göndererek çıktıları alınız.<br><br>
 
 
 <b>POST:</b> http://localhost:8083/generate<br>
 <b>Body:</b> {"url": "https://github.com/seymadogru"} (JSON tipinde)<br><br>
 
 
 Ardından tarayıcınızda <b>localhost:8083/'shortlink'</b> yaparak orijinal linke gidebilirsiniz.

</body>
</html>